@import "/src/styles/variables";

.animal {
  img {
    height: auto;
    width: 60%;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border: 1px solid rgb(236, 233, 230);
    box-shadow: 2px 2px 4px rgba(98, 97, 97, 0.5);
  }

  p {
    margin-inline: 20px;
    font-size: 1rem;
  }

  .about {
    font-weight: 900;
    color: $darkBlue;
  }

  .medicine {
    font-style: italic;
  }

  .feedBtn {
    margin-top: 5px;
    text-transform: uppercase;
    font-weight: 700;
    padding-block: 13px;
    padding-inline: 23px;
    font-size: 1rem;
    &:disabled {
      background-color: rgb(210, 210, 210);
      color: grey;
      cursor: not-allowed;
    }
  }

  .lastFedText {
    margin-bottom: 0;
    font-size: 0.9rem;
    font-weight: 700;
  }

  .hungryText {
    display: block;
    color: $darkBlue;
    font-size: 0.8rem;
    font-style: italic;
    font-weight: 700;
    margin-bottom: 35px;
  }
  
  .theArt {
    background-color: $superLightGreen;
    padding: 15px;
    text-align: left;
    margin-bottom: 30px;
  }

  .btnBack {
    margin-bottom: 70px;
  }
}

@media screen and (min-width: 768px) {
  .animal {
    p {
      margin-inline: 80px;
    }
  }
}

@media screen and (min-width: 1024px) {
  .animal {
    p {
      margin-inline: 150px;
    }
  }
}

@media screen and (min-width: 1400px) {
  .animal {
    p {
      margin-inline: 160px;
      font-size: 1.2rem;
    }

    .feedBtn {
      font-size: 1.2rem;
    }

    .lastFedText {
      font-size: 1.1rem;
    }

    .hungryText {
      font-size: 1rem;
    }
  }
}