$darkGreen: #11441b;
$lightGreen: #c2d2be;
$superLightGreen: #e5e8e5;
$darkBlue: #5b668c;
$mediumBlue: #a7add7;
$lightBlue: #d8e6ff;
$borderBeige: #ece9e6;
$lightBeige: #fff4e8;
$darkBeige: #cc9b66;
$backgroundBlue: #f7faff;