@import "/src/styles/variables";

* {
  box-sizing: border-box;
  color: black;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  border-radius: 5px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1rem;
  font-weight: 500;
  font-family: inherit;
  color: $darkGreen;
  background-color: $lightGreen;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  color: $lightGreen;
  background-color: $darkGreen;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

a {
  text-decoration: none;
  color: black;
}

a.active {
  font-weight: 900;
  border-bottom: 2px solid $darkBlue;
}

html, body, #root {
  height: 100%;
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}